name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Deploy application
        shell: powershell
        run: |
          cd "C:\Apps Saltillo\mold-change-dashboard-motus"
          git pull
          pnpm install
          pnpm build
          pm2 restart Apps_Motus
